
<div class="exercise-card">

<h1>Exercise Diary: {{date}}</h1>

<!-- Date Picker Form -->
<form action="/exercises" method="get">
  <input type="date" name="date" id="datePicker" value="{{date}}" required>
  <button type="submit">Get Exercises</button>
  <div class="entry-button">
    <a href="/post-exercise">+ Add Entry</a>
  </div>
</form>
</div>

<div class="breakout-container">
{{!-- Check if exercises data is available --}}
{{#if exercises}}
{{!-- Displaying the list of exercises --}}
<ul>
  {{#each exercises}}
  <li>
    <h2>{{this.Name}} ({{this.Type}})</h2>
    <p>Calories Burned: {{this.Calories}}</p>
    <p>Date: {{this.EntryDate}}</p>
    {{#if this.sets}}
    <ul>
      {{#each this.sets}}
      <li>Set {{this.SetNumber}}: Rep Goal: {{this.RepGoal}} Reps Actual:{{this.RepCount}} Weight: {{this.Weight}}lbs</li>
      {{/each}}
    </ul>
    {{else}}
    <p>No sets recorded for this exercise.</p>
    {{/if}}
  </li>
  {{/each}}
</ul>
{{else}}
<p>No exercises found for this date.</p>
{{/if}}
</div>