<h1>Exercise Sets for {{selectedDate}}</h1>

<form action="/exercises" method="get">
  <input type="date" name="date" id="datePicker" value="{{date}}" required>
  <button type="submit">Get Sets</button>
</form>

{{#if exercises}}
  {{!-- Displaying the list of sets --}}
  <ul>
    {{#each exercises}}
      {{#each this.sets}}
        <li>
          <h3>{{this.Name}} ({{this.Type}})</h3>
          <p>Set {{this.SetNumber}}: {{this.RepCount}} reps, {{this.Weight}} lbs</p>
          <p>Calories Burned: {{this.Calories}}</p>
          <p>Date: {{this.EntryDate}}</p>
        </li>
      {{/each}}
    {{/each}}
  </ul>
{{else}}
  <p>No exercises found for this date.</p>
{{/if}}


